h1, h2, h3, h4, h5, h6 {
  font-family: "Molle", cursive;
  font-weight: 400;
  font-style: italic;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.page-headline {
  margin-left: -4rem;
}
.article-container {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 4rem;
  border-radius: 50px;
}

p {
  margin: 1rem 0;
  text-indent: 2rem;
}
